{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section">
    <div class="mx-4 md:mx-16">
      <div class="grid sm:gap-y-8 xl:grid-cols-3 md:grid-cols-2 gap-4 md:gap-6">
        {{ range .RegularPages.ByParam "order" }}
          <div class="relative {{ if .Params.span }} xl:col-span-3 md:col-span-2 {{end}} flex items-center rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6">
            {{ with .Params.image }}
            <img class="rounded w-24 h-24 md:w-30 md:h-30 xl:w-48 xl:h-48 mr-3 lg:mr-6 object-cover" src="{{.}}" /> 
            {{ else }}
            {{ partial "icons/icon" (dict "vendor" "tabler" "name" "user-circle" "className" "w-24 h-24 md:w-30 md:h-30 xl:w-48 xl:h-48 mr-3 lg:mr-6" "width" "5em" "height" "5em") }}
            {{ end }}
            <div class="flex-col">
                <a
                  href="{{ .Permalink }}"
                  class="text-xl xl:text-2xl font-bold text-dark dark:text-darkmode-dark block">
                  {{ .Title }} {{ .Params.name }}
                </a>
                <div>{{ .Params.position }}</div>
              </div>
          </div>
        {{ end }}
        </div>
    </div>
  </section>
{{ end }}
