{{ define "main" }}
  {{ partial "page-header" . }}
{{ with .Params }}
<section class="container">
  <div class="grid grid-cols-2 md:grid-cols-4 mt-4">
    <span><i class="fa fa-location-dot"></i> {{.street_address}} {{.location}} {{.palika}} {{ .province }}</span>
    {{with .tel}}<span><i class="fa fa-phone"></i> {{.}}</span>{{end}}
    {{with .website}}<span><i class="fa fa-globe"></i> <a class="hover:underline" href="{{.}}" target="_blank">{{.}}</a></span>{{end}}
    {{with .email}}<span><i class="fa fa-at"></i> <a href="mailto:{{.}}">{{.}}</a></span>{{end}}
    {{with .capacity}}<span><i class="fa fa-people-group"></i> {{.}}</span>{{end}}
    {{with .facility_type}}<span>Type: {{.}}</span>{{end}}
  </div>
</section>
<section class="container grid md:grid-cols-2 gap-4 my-4">
  <div>
    {{with .services}}
      <h4 class="my-2">Services</h4>
      <div>{{. | markdownify}}</div>
    {{end}}
    {{with .food}}
      <h4 class="my-2">Diet Options</h4>
      <div>{{. | markdownify}}</div>
    {{end}}
    {{with .medical}}
      <h4 class="my-2">Medical facilities</h4>
      <div>{{. | markdownify}}</div>
    {{end}}
  </div>
  {{with .banner}}
  <img src="{{.}}" class="px-4" alt="{{$.Title}}"/>
  {{ end }}
</section>
{{ end }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
